<!DOCTYPE html>
<html>
  <head>
    <title>BattleCatsV2</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,700|Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>


    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <% if !logged_in? %>
        <a class="navbar-brand nav-header" href="/">BATTLE CATS V2</a>
      <% else %>
        <a class="navbar-brand nav-header" href="/pets">BATTLE CATS V2</a>
      <% end %>
    </nav>

  	<div class="container">
    	<%= yield %>
  	</div>

    <footer class="footer">
      <div class="nav-footer container">
        <% if logged_in? %>
          <span><%= link_to "All Pets", pets_path, :class => "nav-foot-link" %></span>
          <span><%= link_to "User Profile", user_path(current_user), :class => "nav-foot-link" %></span>
          <span><%= link_to "Logout", "/sessions", method: :delete, :class => "nav-foot-link" %></span>
        <% else %>
          <span><%= link_to "Register", new_user_path, :class => "nav-foot-link" %></span>
          <span><%= link_to "Log In", "/sessions/new", :class => "nav-foot-link" %></span>
        <% end %>
      </div>
    </footer>
  </body>
</html>
